.landingpage-container{
    display: flex;

}
.navbar{
    width: 1510px;
}
.left{
    width: 1000px;
    margin: 10px 15px;
}
.left-bottom , .left-top{
    
display: flex;
gap: 20px;
justify-content: space-around;
}
.left-bottom{
    margin-top: 20px;
}
.right-bottom{
    margin-top: 20px;
}
.right{
    margin:10px 10px ;
    width: 480px;
}
@media (max-width:500px) {
    .landingpage-container , .left , .right , .left-bottom , .left-top{
        flex-wrap: wrap;
    }
    .landingpage-container{
        width: inherit;
        height: auto;
        box-sizing: border-box;
    }
    .main1{
        width: 100%;
        height: 100%;
    }
    .navbar{
        width: inherit;
        box-sizing: border-box;
    }
     .left-bottom , .left-top , .left-bottom-right{
        width: inherit;
        box-sizing: border-box;
    }
    .left{
        margin: 0;
        padding: 10px;
        width: inherit;
        box-sizing: border-box;
    }
    .right , .right-bottom , .right-top{
        width: inherit;
        box-sizing: border-box;
    }
}
