@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.left-top-container{
    background-color:  #fec4b2;
    font-weight: bold;
    font-size: 3.3rem;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 10px;
    animation: slideInFromLeft 1s ease-out;
}
.left-top-text i{
    font-weight:normal;
}
.left-top-svg{
    display: flex;
    width: 100%;
}
.left-svg{
    width: 100%;
}
.right-svg{
    color: rgba(255, 85, 113, 0.788); 
}
@media (max-width: 500px) {
    .left-top-container { 
        font-size: 2rem; 
    }
    .right-svg svg{
        size: auto;
    }
}