@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.left-bottom-container{
    background-color: #fec4b2;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 20px;
    animation: slideInFromLeft 1s ease-out;
    /* height: inherit;
    width: inherit;
    box-sizing: border-box; */
}
.left-bottom-text{

    margin-top: 34px;
    font-size: 1.15rem;
    width: 450px;
}
@media (max-width: 500px) {
    .left-bottom-text {
        width: 100%; 
        font-size: 1rem;
    }
}