.middle-top-container{
    height: auto;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-top-img{
    height: 300px;
    width: 300px;
    border-radius: 40px;
}
@media (max-width: 500px) {
    .middle-top-img {
        width: 100%;
        height: auto;
    }
}
