@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.middle-bottom-container{
    background-color: #fec4b2;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 20px;
    animation: slideInFromBottom 1s ease-out;
}
.middle-bottom-up{
    display: flex;
    justify-content: space-between;
}
.middle-bottom-contact{
    font-size: 3.5rem;
   width: 450px;
    margin-top: 100px;
}
@media (max-width: 500px) {
    .middle-bottom-contact {
        font-size: 2rem;
    }
}